@font-face {
   font-family: 'Arial Bold Italic';
   font-display: swap;
   src: url('file:///Users/dubsubs/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-12-11_190551/fonts/Arial%20Bold%20Italic/font.ttf');
}
